
#home{
  background: url("../assets/backgrounds/h_img.jpg") center center/cover no-repeat;
  text-align: center;
  color: white;
}
#about{
  background-color: white;
  text-align: center;
}
#services{
  background:url("../assets/backgrounds/s_image.jpg") center center/cover no-repeat;
  height: 50vh;
  width: 100%;
  text-align: center;
  color: white;
}
h3{
  text-align: center;
}
#contacts{
  background:url("../assets/backgrounds/c_image.jpg") center center/cover no-repeat;
  margin-top: 5%;
  text-align: center
} 
#contacts h3{
  color: white;
}
#contacts  textarea{
  background: none;
  color: white;
text-align: center;

} 
#name{
  background: none;
  position: relative;
  width: 300px;
}
#email{
  position: relative;
}
button{
  margin-top: 20px
} 

#design,#product,#development{
  display: none;
}
.icons{
  text-align: center;
}
footer{
  text-align: center;
}
.textarea{
  text-align: center;
}
.contacts{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;

}
.button{
  text-align: center;
}

#top-row, #bottom-row {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#arrange {
  width: 60%;
  margin: auto;
}
#text1 ,#text2, #text3, #text4, #text5, #text6, #text7, #text8{
  display: none;
  margin:-50% 25%;
  padding:2vh 2vh;
background-color: white;
text-align:center;
color:blue;
}
::placeholder{
  color:white;
}
.row{
  margin-top: 10px;
}